.bg-tree {
    background: rgb(129, 225, 196);
    background-image: url("/IMG_2452.PNG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-weight: bold;
    font-size: 4.9rem;
    color: #005a23;
}

p {
    color: rgb(49, 49, 49);
	font-size: 1.25rem;
}

.a-link {
	color: #11253e;
	font-weight: bold;
}

/* visited link */
.a-link:visited {
    color: #11253e;
}

/* mouse over link */
.a-link:hover {
	text-decoration: underline;
}
